.jumbotron {
    background-image: url(https://openweathermap.org/themes/openweathermap/assets/img/new-history-forecast-bulk.png);
    background-size: cover;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

p {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}


.move {
    margin-top: 50px;
}